* {
    font-family: "Halyard Text";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

header {
    background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%);
}

.colour1 {
    background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%);
}

.nav {
    display: flex;
    padding: 50px 70px;
    text-indent: 15px;
    text-align: left;
}

.logo {
    margin-right: 50px;
}

ul {
    list-style-type: none;
    margin-right: 100px;
}

.navlink {
    display: inline;
    margin-right: 40px;
}

.navlink a {
    text-decoration: none;
    display: inline-flex;
    color: #1E266D;
    margin-top: -3px;
}

p {
    display: inline;
    margin-right: 34px;
}

.contact {
    font-weight: 400%;
    font-size: 16px;
    color: #1E266D;
    margin-top: -10px;
}

button {
    text-align: center;
    border-radius: 100px;
    padding: 2px;
    background: #3751FF;
    color: #FFFFFF;
    border-style: none;
    cursor: pointer;
    width: 113px;
    font-weight: 400%;
    font-size: 16px;
    line-height: 40px;
}

.h1 {
    font-style: normal;
    font-weight: 500%;
    font-size: 56px;
    line-height: 105%;
    text-align: center;
    color: #1E266D;
}

.h3 {
    font-style: normal;
    font-weight: 400%;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #455880;
    margin: 20px;
}

.buy {
    margin-left: 500px;
    margin-right: 20px;
    padding: 17px;
    text-align: center;
    Width: 148.06px;
    font-style: normal;
    font-weight: 400%;
    font-size: 16px;
    line-height: 100%;
}

.see {
    padding: 2px;
    Width: 199.26px;
    color: #455880;
    background: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: 200%;
    font-size: 16px;
    line-height: 50px;
}

.picturebox {
    text-align: center;
}

section.color {
    background-color: #F0F2F6;
}

.trust {
    text-align: center;
    color: rgba(69, 88, 128, 0.5);
    font-weight: 400%;
    font-size: 16px;
    line-height: 27px;
    background-color: #F2F9FF;
}

.img1 {
    padding: 70px;
    height: 112px;
    left: 80px;
    top: 1094px;
    text-align: center;
    background-color: #F2F9FF;
}

.whatever {
    text-align: center;
    font-weight: 500%;
    font-size: 48px;
    line-height: 60px;
    color: #1E266D;
    background-color: #F2F9FF;
}

.container1 {
    display: flex;

}

.img-graphics {
    padding-right: 200px;
    background-color: #F0F2F6;
}

.sec1a {
    display: flex;
    padding-top: 210px;
    border-bottom: 1px solid rgba(69, 88, 128, 0.2);
    background-color: #F0F2F6;
}

.icon1 {
    border-radius: 10px;
}

.sec1b {
    background-color: #F0F2F6;
}

.design {
    padding-top: 2px;
    padding-left: 47px;
    color: #1E266D;
    font-family: "Halyard Display";
    font-style: normal;
    font-size: 22px;
    font-weight: 500%;
    line-height: 29px;
}

.make {
    padding: 50px;
    display: flex;
    font-family: "Halyard Text";
    font-style: normal;
    font-weight: 400%;
    font-size: 18px;
    line-height: 27px;
    color: #455880;
}

.sec2a {
    display: flex;
    padding-top: 35px;
    border-bottom: 1px solid rgba(69, 88, 128, 0.2);
    background-color: #F0F2F6;
}

.icon2 {
    border-radius: 10px;
}

.sec2b {
    background-color: #F0F2F6;
}

.easy {
    font-family: "Halyard Display";
    font-weight: 500%;
    font-size: 22px;
    font-style: normal;
    line-height: 125%;
    color: #1E266D;
    padding-top: 2px;
    padding-left: 47px;
}

.import {
    padding: 50px;
    display: flex;
    font-family: "Halyard Text";
    font-style: normal;
    font-weight: 400%;
    font-size: 18px;
    line-height: 27px;
    color: #455880;
}

.sec3a {
    display: flex;
    padding-top: 35px;
    background-color: #F0F2F6;
}

.icon3 {
    border-radius: 10px;
}

.sec3b {
    background-color: #F0F2F6;
}

.fast {
    font-family: "Halyard Display";
    font-weight: 500%;
    font-size: 22px;
    font-style: normal;
    line-height: 125%;
    color: #1E266D;
    padding-top: 2px;
    padding-left: 47px;
}

.no {
    padding: 50px;
    display: flex;
    font-family: "Halyard Text";
    font-style: normal;
    font-weight: 400%;
    font-size: 18px;
    line-height: 27px;
    color: #455880;
}

.color {
    background-color: #FFF9EA;
}

.simple {
    padding-top: 139px;
    font-family: 'Halyard Display';
    font-style: normal;
    font-weight: 500%;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #1E266D;
}

.its {
    padding-top: 40px;
    font-family: 'Halyard Text';
    font-style: normal;
    font-weight: 400%;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    color: #455880;

}

.buy1 {
    width: 140px;
    margin-top: 40px;
    margin-left: 610px;
    margin-bottom: 37px;
    top: 0;
    bottom: 0;
    border-radius: 100px;
}

.color2 {
    background-color: #FFF9EA;
}

section.color3 {
    background-color: #F0F2F6;
}

.what {
    font-family: "Halyard Display";
    font-style: normal;
    font-weight: 500%;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #1E266D;
    padding-top: 190px;
    padding-bottom: 56px;
}

.sector {
    display: flex;
    margin: 0 auto;
    padding-bottom: 150px;
    max-width: 1159px;
    justify-content: space-between;
}

.conc1 {
    border: 1px solid rgba(69, 88, 128, 0.2);
    border-radius: 4px;

}

.complete {
    font-family: "Halyard Text";
    font-style: normal;
    font-weight: 400%;
    font-size: 18px;
    line-height: 180%;
    color: #455880;
    padding: 38px 43px 39px 43.89px;
}

.image {
    text-align: center;
    margin-bottom: 23px;
}

.happy {
    font-family: "Halyard Display";
    font-style: normal;
    font-weight: 500%;
    font-size: 22px;
    line-height: 125%;
    text-align: center;
    color: #1E266D;
}

.tem {
    font-family: "Halyard Text";
    font-style: normal;
    font-weight: 400%;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #455880;
    margin-bottom: 32px;
}

.colour {
    background-color: blue;
}

.small {
    padding-top: 88px;
    padding-bottom: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto 0;
}

.ready {
    font-family: "Halyard Display";
    font-style: normal;
    font-weight: 500%;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;

}
.matter{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.get {
    display: flex;
    justify-content: center;
    font-family: "Halyard Display";
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    padding: 20px;
    Width: 220.26px;
    height: 50.34px;
    color: #455880;
    background: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: 500%;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 27px;
}

button.get span {
    margin-left: 15px;
}

/*.mail{
   
}*/
.or {
    display: flex;
    font-family: 'Halyard Text';
    font-style: normal;
    font-weight: 400%;
    font-size: 16px;
    line-height: 125%;
    text-align: right;
    color: #DFE0EB;
}
.studio{
    color: #FED385;
    margin-left: 5px;

}

.foot {
    display: flex;
}

.digit {
    padding: 120.74px 120px;
}

.web {
    /*display: flex;*/
    font-family: "Halyard Text";
    font-style: normal;
    font-weight: 400%;
    font-size: 18px;
    line-height: 145%;
    color: #455880;
    padding-top: 35px;
    padding-right: 10px;
}

.page {
    padding: 110px 0;
    font-family: "Halyard Display";
    font-style: normal;
    font-weight: 500%;
    font-size: 22px;
    line-height: 191%;
    color: #1E266D;
}

.demo {
    padding: 106px 0;
    font-family: "Halyard Display";
    font-style: normal;
    font-weight: 500%;
    font-size: 22px;
    line-height: 191%;
    color: #1E266D;
}

.hanpc {
    font-family: 'Halyard Text';
    font-style: normal;
    font-weight: 400%;
    font-size: 18px;
    line-height: 213%;
    color: #455880;
    padding-top: 20px;
}

.resource {
    padding: 110px;
    font-family: "Halyard Display";
    font-style: normal;
    font-weight: 500%;
    font-size: 22px;
    line-height: 191%;
    color: #1E266D;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.end {
    display: flex;
}

.copy {
    padding: 90px;
    padding-right: 650px;
    font-family: 'Halyard Text';
    font-style: normal;
    font-weight: 400%;
    font-size: 14px;
    line-height: 27px;
    color: rgba(69, 88, 128, 0.5);
}

.last {
    margin-left: 20px;
    padding: 90px 10px;
    font-family: 'Halyard Text';
    font-style: normal;
    font-weight: 400%;
    font-size: 14px;
    line-height: 27px;
    color: rgba(69, 88, 128, 0.5);
}